{% extends "app/base.html" %}
{% load static %}

{% block title %}
Registration
{% endblock title %}



{% block main_content %}
<div class="container ">
<div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
        <h2 class="text-center fw-bold">Registration Form</h2>
        <hr>
                {% if messages %}
                    {% for message in messages %}
                        <div class=" alert alert-{{ message.tags }}" role="alert">{{ message }}</div>                    
                    {% endfor %}
                {% endif %}


            <form method="POST" action="" novalidate class="shadow p-4">
                {% csrf_token %}
             
                 {% for fm in form %}
                 {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                 
                {%endfor%}
                <br>
                <button class="btn btn-success w-100" type="submit">Submit</button>

                <div class="text-center text-success fw-bold">
                    <small>Existing User ?  <a href="{% url 'login' %}" class="text-danger"> Login Now</a></small>
                </div>

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert_danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}

                <!-- {% if messages %}
                        {% for message in messages %}
                            <div class=" alert alert-{{ message.tags }}" role="alert">{{ message }}</div>                    
                        {% endfor %}
                {% endif %} -->

            </form>
        </div>
    </div>
</div>
{% endblock main_content %}