{% extends "app/base.html" %}
{% load static %}

{% block title %}
Reset Password Done
{% endblock title %}

{% block main_content %}
<div class="container ">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h2 class='alert-heading'> Well Done !</h2>
            <hr>
                <p> An Email has been sent with instractions to reset your password <br><b>Please Check Your Email ?</b></p>
        </div>         
    </div>         
</div>
{% endblock main_content %}