{% extends "app/base.html" %}
{% load static %}

{% block title %}
Reset Password Complate
{% endblock title %}

{% block main_content %}
<div class="container ">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h2 class='text-center fw-bold'> Reset Password Complate !!</h2>
                <hr>
                
                <div>
                    <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="480" height="480" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
        </div>         
    </div>         
</div>
{% endblock main_content %}